html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shop__item--1 {
  background-image: url(img/koryfantatrans.png);
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 16px;
  padding: 40px;
}

.shop__item--2 {
  background-image: url(img/echinokaktustrans.png);
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 16px;
  padding: 40px;
}

.shop__item--3 {
  background-image: url(img/opuncjatrans.png);
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 16px;
  padding: 40px;
}

.shop__item--4 {
  background-image: url(img/ferocactustrans.png);
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 16px;
  padding: 40px;
}

.shop__item--5 {
  background-image: url(img/akantocalyciumtrans.png);
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 16px;
  padding: 40px;
}

.shop__item--6 {
  background-image: url(img/cefalocereustrans.png);
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 16px;
  padding: 40px;
}

.price-button {
  display: block;
  background: white;
  border-radius: 16px;
  width: 70px;
  height: 30px;
  padding: 2px;
  margin: 8px auto;
}

.footer {
  grid-area: footer;
  background: #39c643;
  margin-top: 50px;
  border-radius: 8px;
  padding: 16px;
  vertical-align: middle;
}

.menu {
  color: white;
  font-family: "Schoolbell", arial, serif;
  background-image: url("img/blackboard.png");
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 32px;
}

.menu-pic {
  width: 100%;
  margin-bottom: 16px;
}

.list {
  list-style-type: none;
}

.opening-hours {
  background-image: url("img/hot-coffee.png");
  background-size: cover;
  color: white;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 32px;
}

.workshops {
  background-image: url("img/coffee-beans.png");
  color: white;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 32px;
}

@media screen and (min-width: 320px) {
  .body {
    margin-top: 100px;
    background: lightskyblue;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font: 12px Georgia, sans-serif;
  }

  .grid {
    margin-top: 100px;
    display: block;
    background: lightskyblue;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font: 12px Georgia, sans-serif;
  }

  .header {
    height: 80px;
    position: fixed;
    top: 0;
    width: 90%;
    background-image: url(img/cute-cacti.png);
    background-position: 50% 80%;
  }

  .hamburger--js {
    position: absolute;
    top: 8px;
    right: 8px;
    background: hotpink;
    color: white;
    border-radius: 8px;
    border-style: none;
    padding: 8px;
    margin-bottom: 16px;
  }

  .navigation--js {
    display: none;
  }

  .navigation--open {
    display: block;
    margin-top: 8px;
  }

  .navigation__item {
    display: flex;
    background: #39c643;
    margin: 4px;
    padding: 8px;
    width: 96px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .body {
    background: lightslategray;
    width: 80%;
  }

  .grid {
    background: lightslategray;
    width: 100%;
  }

  .header {
    height: auto;
    width: 80%;
    background-image: none;
 position: absolute;
  }

  .navigation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }

  .navigation__item {
    margin: 8px;
    padding: 12px;
    flex: 0 1 120px;
  }

  .aside {
    width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .body {
    background: white;
    width: 70%;
    font: 16px Georgia, sans-serif;
  }

  .grid {
    display: grid;
    grid-template-areas:
      "header header"
      "article aside"
      "footer footer";
    grid-template-columns: 2fr 1fr;
    column-gap: 16px;
    width: 100%;
    background: white;
    font: 16px Georgia, sans-serif;
  }

  .header {
    width: 70%;
    grid-area: header;
  }
  
  .article {
    grid-area: article;
  }
  
  .aside {
    grid-area: aside;
    width: 1fr;
  }

  .navigation__item {
    padding: 16px;
    flex: 1 1 160px;
  }
}



